
/* Custom properties */

:root {

    --primary-intro: 217 28% 15%;
    --primary-background: 218 28% 13%;
    --primary-background-footer: 216 53% 9%;
    --primary-background-testimonial: 219 30% 18%;

    --accent-cyan: 176 68% 64%;
    --accent-blue: 198 60% 50%;
    --accent-light-red: 0 100% 63%;
    --accent-white: 0 100% 100%;

    /* fonts */

    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --ff-sans: 'Open Sans', sans-serif;
    --ff-raleway: 'Raleway', sans-serif;
    
}

/* resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}


h1,
h2,
h3 {
    padding: 0 0 1em;
}

p,
ul,
li, 
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


input,
button,
textarea,
select {
    font: inherit;
}

figure,
picture,
img {
    display: block;
    max-width: 100%;
}


/* global styling */

body {  
    font-family: var(--ff-sans);
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.6;
}

/* utility classes */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container {
    padding: 0 4rem;
    margin: 0 auto;
    /*  */
    max-width: 80rem;
}

.wide-container {
    padding: 0 2rem;
    margin: 0 auto;
}

/* colours */

.dark-bg-intro {
    background: hsl(var(--primary-intro));
}

.dark-bg {
    background: hsl(var(--primary-background));
}

.dark-bg-testimonial {
    background: hsl(var(--primary-background-testimonial));
}

.dark-bg-footer {
    background: hsl(var(--primary-background-footer));
}

.cyan-bg {
    background: hsl(var(--accent-cyan));
}

.text-white {
    color: hsl(var(--accent-white));
}
.text-cyan {
    color: hsl(var(--accent-cyan));
}

.fs-200 {
    font-size: 0.875rem ;
}

.fs-300 {
    font-size: 1rem ;
}

.fs-400 {
    font-size: 1.125rem ;
}

.fs-500 {
    font-size: 1.75rem ;
}

.fs-600 {
    font-family: 2rem;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

/* buttons */

.btn {
    color: hsl(var(--accent-white));
    background: hsl(var(--accent-cyan));
    border: none;
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    padding: 15px 80px;
    margin: 2em 0 10em;
    
    
}

/* navigation */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em 5em;
}

.nav_list {
    display: inline-flex;
}

.nav__link {
    padding: 0 .5em 0;
    color: hsl(var(--accent-white));
}

.logo {
    width: 100px;
}

/* hero section */

.hero {
    text-align: center;
    width: 95%;
}