
/* Custom properties */

:root {

    --primary-intro: 217 28% 15%;
    --primary-background: 218 28% 13%;
    --primary-background-footer: 216 53% 9%;
    --primary-background-testimonial: 219 30% 18%;

    --accent-cyan: 176 68% 64%;
    --accent-blue: 198 60% 50%;
    --accent-light-red: 0 100% 63%;
    --accent-white: 0 0 100;

    /* fonts */

    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --ff-sans: 'Open Sans', sans-serif;
    --ff-raleway: 'Raleway', sans-serif;
    
}

/* resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    list-style: none;
    text-decoration: none;
}


input,
button,
textarea,
select {
    font: inherit;
}

figure,
picture,
img {
    display: block;
    max-width: 100%;
}


/* global styling */

body {
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.6;
}

/* utility classes */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container {
    padding: 0 4rem;
    margin: 0 auto;
    /*  */
    max-width: 80rem;
}

.wide-container {
    padding: 0 1rem;
    margin: 0 auto;
}

