
/* Custom properties */

:root {

    --primary-intro: 217 28% 15%;
    --primary-background: 218 28% 13%;
    --primary-background-footer: 216 53% 9%;
    --primary-background-testimonial: 219 30% 18%;

    --accent-cyan: 176 68% 64%;
    --accent-blue: 198 60% 50%;
    --accent-light-red: 0 100% 63%;
    --accent-white: 0 100% 100%;

    /* fonts */

    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --ff-sans: 'Open Sans', sans-serif;
    --ff-raleway: 'Raleway', sans-serif;
    
}

/* resets */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}


h1,
h2,
h3 {
    padding: 0 0 1em;
}

p,
ul,
li, 
a {
    padding: 0;
    list-style: none;
    text-decoration: none;
}


input,
button,
textarea,
select {
    font: inherit;
}

figure,
picture,
img {
    display: block;
    max-width: 100%;
}


/* global styling */

body {  
    font-family: var(--ff-sans);
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.6;
   
}

/* utility classes */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
    /*  */
    max-width: 80rem;
}

.wide-container {
    padding: 0 2rem;
    margin: 0 auto;
}

/* colours */

.dark-bg-intro {
    background: hsl(var(--primary-intro));
}

.dark-bg {
    background: hsl(var(--primary-background));
}

.dark-bg-testimonial {
    background: hsl(var(--primary-background-testimonial));
}

.dark-bg-footer {
    background: hsl(var(--primary-background-footer));
}

.cyan-bg {
    background: hsl(var(--accent-cyan));
}

.text-white {
    color: hsl(var(--accent-white));
}
.text-cyan {
    color: hsl(var(--accent-cyan));
}

.fs-200 {
    font-size: 0.875rem ;
}

.fs-300 {
    font-size: 1rem ;
}

.fs-400 {
    font-size: 1.125rem ;
}

.fs-500 {
    font-size: 1.75rem ;
}

.fs-600 {
    font-family: 2rem;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

/* text alignment */

.center {
    text-align: center;
    margin: 0 auto;
}
/* buttons */

.hero__btn {
    color: hsl(var(--accent-white));
    background: hsl(var(--accent-cyan));
    border: none;
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    padding: 15px 80px;
    margin: 2em 0 10em;
}

.cta__btn {
    color: hsl(var(--accent-white));
    background: hsl(var(--accent-cyan));
    border: none;
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
    display: block;
    padding: 15px 80px;
    margin: 2em 0 10em;
}

/* navigation */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em 5em;
}

.nav_list {
    display: inline-flex;
}

.nav__link {
    padding: 0 .5em 0;
    color: hsl(var(--accent-white));
}

.logo {
    width: 100px;
}

/* hero section */

.hero {
    text-align: center;
    width: 95%;
}

/* main area */

.main {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.main-icon {
    text-align: center;
    margin: 0 auto;
    padding: 4em 0 4em;
}

/* productive section */

.productive-img {
    text-align: center;
    margin: 0 auto;
    padding: 10em 0 5em;
}

.heading__productive {
    padding: 1em 0 1em;
}

.text__productive  {
    padding: 0 0 1em;
}

.underline {
    border-bottom: 2px solid hsl(var(--accent-cyan));
    width: 175px;

}

.arrow-icon {
    position: relative;
    bottom: 1.4em;
    left: 10em;
}

/* cards */

.profile-container {
    margin: 5em 0;
}

.big-quotes {
    bottom: 37px;
    left: 15px;
    position: relative;
    width: 30px;
}

.card {
    background: hsl(var(--primary-background-testimonial));
    border-radius: 20px;
    padding: 1em 0 2em;
    margin: 1.5em 0 3em;
    height: 280px;
   
}

.card_text {
    padding: 2em 1em;
}

.profile-img {
    position: relative;
    top: 10px;
    border-radius: 50%;
    width: 35px;
}

.profile {
    padding: 0 1em;
}

/* cta */

.cta_card {
    text-align: center;
    background-color: hsl(var(--primary-background-testimonial));
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ;
    border-radius: 20px;
    padding: 2em ;
    position: relative;
    top: 15em;
    z-index: 10;
}

.cta_title {
    margin: 0 0 1em;
}

.cta_text {
    margin: 0 0 2em;
}

input {
    border-radius: 25px;
    border: none;
    padding: 12px 20px;
    width: 100%
}

/* footer */

footer {
    background-color: hsl(var(--primary-background-footer));
    color: hsl(var(--accent-white));
    
    padding-top: 17em;
}

.footer-container {
    padding: 0 2em;
}

.footer__text {
    margin: 0 0 1em;
}

.footer-logo {
    margin: 2em;
}

.location-icon {
    position: relative;
    top: 3px;
    width: 40px;
}

.phone_container {
    margin: 0 0 1em;
}

.phone-icon {
    position: relative;
    top: 7px;
    width: 15px;
}

.email_container {
    margin: 0 0 1em;
}

.email-icon {
    position: relative;
    top: 6px;
    margin: 0 0 4em;
}

.footer_link {
    padding: 0 0 1em;
}

.footer-box-1 {
    margin: 0 0 2em;
}

.social_links {
    padding: 5em 0 0 ;
    margin: 0 auto;
    text-align: center;
}

ion-icon {
    padding: 0 5px 50px;
    font-size: 24px;
}

/* Bigger screens */

@media (min-width: 900px){

    /* navigation */
    .nav {
        padding: 2em 5em;
    }

    /* hero sectio */
    .productive_img {
        margin: 0 auto;
    }

    .hero_heading {
        font-size: 1.75rem ;
        margin: 0 auto;
        width: 40%;
    }

    .hero_p {
        width: 40%;
        margin: 0 auto;
    }

    /* main */

    .main {
        display: grid;
    }

    .icon_text {
        width: 70% ;
        padding: 1em 0 0 ;
        margin: 0  auto;
    }



    .productive {
        display: flex;
        padding: 2em 7em;
       
    }   

    .img-container {
        width: 80%;
    }

    .productive-img {
        
        width: 110%;
    }

    .text-container {
        position: relative;
        top: 8em;
        
    }

    .heading__productive  {
        align-items: center;
        font-size: 2rem;
        width: 50%;
    }

    .text__productive {
        width: 80%;
    }

    /* profile section */
}   
